<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csl.classroom.mapper.BuildingMapper">
    <resultMap id="BaseResultMap" type="com.csl.classroom.model.Building">
        <!--@mbg.generated-->
        <!--@Table building-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="alias_name" jdbcType="VARCHAR" property="aliasName"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
    </resultMap>
    <resultMap id="JoinResultMap" type="com.csl.classroom.model.Building">
        <!--@mbg.generated-->
        <id column="building_id" jdbcType="INTEGER" property="id"/>
        <result column="building_full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="building_alias_name" jdbcType="VARCHAR" property="aliasName"/>
        <result column="building_department" jdbcType="VARCHAR" property="department"/>
    </resultMap>
    <resultMap extends="JoinResultMap" id="DetailsResultMap" type="BuildingDetails">
        <result column="current_free_classrooms" property="currentFreeClassrooms"/>
        <result column="total_number_of_classrooms" property="totalNumberOfClassrooms"/>
        <result column="free_capacity" property="freeCapacity"/>
        <result column="total_capacity" property="totalCapacity"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, full_name, alias_name, department
    </sql>
    <sql id="Join_Column_List">
        <!--@mbg.generated-->
        building.id as building_id, building.full_name as building_full_name, building.alias_name as
        building_alias_name,
        building.department as building_department
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from building
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from building
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.csl.classroom.model.Building"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into building (full_name, alias_name, department
        )
        values (#{fullName,jdbcType=VARCHAR}, #{aliasName,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.csl.classroom.model.Building"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into building
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fullName != null">
                full_name,
            </if>
            <if test="aliasName != null">
                alias_name,
            </if>
            <if test="department != null">
                department,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fullName != null">
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="aliasName != null">
                #{aliasName,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                #{department,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.csl.classroom.model.Building">
        <!--@mbg.generated-->
        update building
        <set>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="aliasName != null">
                alias_name = #{aliasName,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                department = #{department,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.csl.classroom.model.Building">
        <!--@mbg.generated-->
        update building
        set full_name = #{fullName,jdbcType=VARCHAR},
        alias_name = #{aliasName,jdbcType=VARCHAR},
        department = #{department,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from building
        <where>
            <if test="keyword != null and keyword != ''">
                full_name like concat('%', #{keyword,jdbcType=VARCHAR}, '%')
                or alias_name like concat('%', #{keyword,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>
    <select id="getBuildingDetail" resultMap="DetailsResultMap">
        select
        <include refid="Join_Column_List"/>,
        count(if(classroom.status = 1, 1, null)) as current_free_classrooms,
        count(*) as total_number_of_classrooms,
        sum(if(classroom.status = 1, classroom.capacity, 0)) as free_capacity,
        sum(classroom.capacity) as total_capacity
        from building inner join classroom on building.id = classroom.building_id
        where building.id = #{id,jdbcType=INTEGER}
    </select>
</mapper>